<html>
<head>
 <title>Learn</title>
<link rel="stylesheet" href="p333.css">

</head>

<body>

<div class="container">
   
<h2>WILLING TO LEARN</h2>
<form><h1>404</h1>
    <h1 style="color: wheat;">opps, no page found</h1>
</form>
</div>
</body>
</html>